<div class="">

<div class="about_image_area_one">
  <div class="container contact_text columns is-multiline top margin four">
    <div class="is-4 is-size-5 column">
    Our story begins out of necessity.  A necessity to help a dear friend in need.  A necessity to find alternatives
    to support cellular health when there are no clear answers.  A necessity to bring to market valued, effective,
    and reliable supplements. This necessity has brought four friends together with a commitment to continue to
    help people in their journey towards health and wellness.
    </div>
  </div>
</div>

<div class="about_image_area_two">
  <div class="container contact_text columns is-multiline">
    <div class="is-5 is-size-5 column is-offset-8">
    As a researcher, scientist, practitioner, and guide, we forged together to find those answers.  SULFORAPHANE proved
    to be an outstanding compound.  The challenge was to make this into a supplement that could be readily consumed and
    and actually be effective.  With time and effort, we have created BrocElite, a stabilized sulforphane.
    </div>
  </div>
</div>

<div class="about_image_area_three">
  <div class="container contact_text columns is-multiline">
    <div class="is-6 is-size-5 column">
    So join us as we navigate the tides of inflammation and degeneration, towards calmer waters that deliver life and
    vitality.
    </div>
  </div>
</div>

</div>
